@model IEnumerable<WebStore.ViewsModels.CategoryViewModel>

<h2>Категории</h2>

<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var category in Model)
    {
        // Проверяем есть ли дочернии компоненты
        if (category.ChildCategories.Count > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @category.Name
                        </a>
                    </h4>
                </div>
                <div id="sportswear" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            @foreach (var item in category.ChildCategories)
                            {
                                <li><a href="#">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @category.Name
                        </a>
                    </h4>
                </div>
            </div>
        }
    }
</div><!--/category-productsr-->