<div class="left-sidebar">
    <h2>Category</h2>
    @await Html.PartialAsync("Partial/_CategoryProductsr")
    @await Html.PartialAsync("Partial/_BrandsProducts")
    @await Html.PartialAsync("Partial/_PriceRange")
    @await Html.PartialAsync("Partial/_Shipping")

</div>