<div class="left-sidebar">
    <h2>Category</h2>_
    @await Html.PartialAsync("Partial/LeftSideBar/_CategoryProducts")
    @await Html.PartialAsync("Partial/LeftSideBar/_BrandsProducts")
    @await Html.PartialAsync("Partial/LeftSideBar/_PriceRange")
    @await Html.PartialAsync("Partial/LeftSideBar/_Shipping")

</div>