<div class="left-sidebar">

    @await Component.InvokeAsync("Category")
    @await Component.InvokeAsync("Brands")

    @await Html.PartialAsync("Partial/LeftSideBar/_PriceRange")
    @await Html.PartialAsync("Partial/LeftSideBar/_Shipping")

</div>